body { font-family: serif;
       font-size: 10pt; }
td { font-family: serif;
       font-size: 12pt; }
th { font-family: serif;
       font-size: 12pt; }
small { font-family: serif;
       font-size: 10pt; }
