body { font-family: helvetica,arial,sans;
       font-size: 10pt; }
td { font-family: helvetica,arial,sans;
       font-size: 12pt; }
th { font-family: helvetica,arial,sans;
       font-size: 12pt; }
small { font-family: helvetica,arial,sans;
       font-size: 10pt; }
