/* advanced login page defs */
#sqm_login  {
    margin-top: 25px;
    text-align: center;
}

#sqm_login  table   {
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#sqm_login  td   {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #726b58;
    font-family: verdana, sans-serif;
    width: auto;
    text-align: center;
}

#sqm_login  td.orgName {
    font-weight: bold;
    background: none;
    font-size: 90%;
}

#sqm_login  td.orgLogo {
    width: 155px;
    text-align: center;
    vertical-align: middle;
}

#sqm_login  td.orgLogo  img {
    width: 150px;
    padding:0;
}

#sqm_login  td.attr   {
    font-size: 70%;
    padding-top:5px;
    padding-bottom: 10px;
}

#sqm_login  td.fieldName {
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    width: 50%;
}

#sqm_login  td.fieldInput {
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

#sqm_login  td.loginSubmit {
    padding-top: 15px;
}

#sqm_login  input.input {
    font-size: 80%;
    color: #110f08;
    border: 1px solid #726b58;
    padding: 1px;
    background: url(../images/login2.png) repeat-y;
    width: 160px;
}

/* advanced option order defs */
#optionHighlight    td.divider  {
    border-top: 1px solid #dcdcdc /* __COLOR0__ */;
    border-bottom: 1px solid #dcdcdc /* __COLOR0__ */;
    background: #dcdcdc /* __COLOR0__ */;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* advanced message editing defs */
#colorSample    {
    width: 50px;
    padding-left:10px;
}

#optionHighlightAdd table.colorTable   {
    margin-left: 0;
    margin-top: 2px;
}

#optionHighlightAdd td.fieldValue   {
    font-size: 75%;
    font-weight: bold;
}


/* Advanced Tree definitions */
.dtree {
       font-size:11px;
       white-space:nowrap;
}
.dtree p {
    margin-top:12px;
    margin-bottom:2px;
    padding-bottom:4px;
    text-align:center;
    overflow: hidden;
}
.dtree a:hover {
    text-decoration: underline;
}
.dtree a {
    text-decoration:none;
}
.dtree img {
    border:0;
    vertical-align: middle;
}
.dtree a.node, .dtree a.nodeSel {
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
    color: #002266 /* __COLOR15__ */;
}
.dtree a.nodeSel {
    color: #002266 /* __COLOR15__ */;
}
.dtree .clip {
    overflow: hidden;
}


/* Resizing handle */
.resize_handle {
    height: 9px;
    overflow: hidden;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0px 1px 1px;
    cursor: s-resize;
/* FIXME! HOW DO WE BETTER DEFINE IMAGE PATHS HERE? */
    background: #EEEEEE url(../images/grippie.png) no-repeat center 2px;
}


