/* page body formatting */
body {
    color:  #000000 /* __COLOR8__ */;
    background-color: #ffffff /* __COLOR4__*/;
    font-family: Arial, Helvetica, sans-serif;
}
body.sqm_leftMain {
    color:  #000000 /* __COLOR6__*/;
    background-color: #a0b8c8 /* __COLOR3__*/;
    text-align: left;
}

img {
    border:0;
}

em {
    font-weight: bold;
    font-style: normal;
}

.quote1 {
    color: #800000 /* __COLOR13__*/;
}

.quote2 {
    color: #ff0000 /* __COLOR14__*/;
}

/* right links */
a:link, a:visited, a:hover, a:active {
    color: #0000cc /* __COLOR7__ */;
}

/* left links */
.sqm_leftMain a:link, .sqm_leftMain a:visited, .sqm_leftMain a:hover, .sqm_leftMain a:active {
    color:  #000000 /* __COLOR6__*/;
}

.leftunseen, .leftspecial, .leftspecial a:link, .leftspecial a:visited, .leftspecial a:hover, .leftspecial a:active {
    color:  #770000 /* __COLOR11__ */;
}

.leftnoselect a:link, .leftnoselect a:visited, .leftnoselect a:hover, .leftnoselect a:active {
    color:  #002266 /* __COLOR15__ */;
}

/* highlighted texts */
.highlight {
    color:  #002266 /* __COLOR15__ */;
}

.thead_caption {
    font-weight: bold;
    text-align: center;
}

.error_table {
    color: #ff0000 /* __COLOR14__*/;
    border: 2px solid #dcdcdc /* __COLOR0__ */;
    background-color: #a0b8c8 /* __COLOR3__*/;
}
.error_thead {
    background-color: #666666 /* __COLOR10__*/;
}
.error_thead_caption {
    background-color: #666666 /* __COLOR10__*/;
}
.error_row {
    color: #ff0000 /* __COLOR14__*/;
}
.error_val {
    color: #000000 /* __COLOR6__*/;
    border: 2px solid #dcdcdc /* __COLOR0__ */;

}
.error_key {
    border: 2px solid #dcdcdc /* __COLOR0__ */;
    color: #ff0000 /* __COLOR14__*/;
    background-color: #dcdcdc /* __COLOR0__ */;
}

table.table_empty,table.table_blank    {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

table.spacer {
    border: 0;
    height: 5px;
    width:100%;
    background-color: #ffffff /* __COLOR4__ */;
}

table.table1    {
    border: 1px solid #dcdcdc /* __COLOR0__ */;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table.table1    td  {
    padding-left: 2px;
    padding-right: 2px;
}

table.table2    {
    border: 1px solid #ababab /* __COLOR9__ */;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.table2    td  {
    padding-left: 2px;
    padding-right: 2px;
}

td.emptyList    {
    text-align: center;
    font-weight: bold;
}

td.header1  {
    background: #dcdcdc /* __COLOR0__ */;
    text-align: center;
    font-weight: bold;
}

td.header2  {
    background: #ababab /* __COLOR9__ */;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.header3  {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

td.header4  {
    background: #ffffcc /* __COLOR5__*/;
    font-weight: bold;
    padding-top:2px;
    padding-bottom: 2px;
    text-align: center;
}

td.header5 {
    background-color: #ababab /* __COLOR9__ */;
    font-weight: bold;
    text-align: left;
}

td.fieldName {
    text-align: right;
    width:25%;
    font-weight: bold;
    vertical-align:top;
    padding-left: 4px;
    padding-right: 4px;
}

td.fieldValue {
    text-align: left;
    width:75%;
    font-weight: normal;
}

tr.even {
    background: #ededed /* __COLOR12__*/;
}
tr.odd  {
    background: #ffffff /* __COLOR4__*/;
}

.table_standard {
    border:1px solid #dcdcdc /* __COLOR0__ */;
    width: 100%;
}

.sqm_loginOrgName, .sqm_signoutBar {
    background: #dcdcdc /* __COLOR0__ */;
}

.sqm_signout {
    margin-top: 2em;
    text-align: center;
}

.sqm_wrapperTable   {
    border:0;
    padding:0;
    margin-left:0;
    border-spacing:0;
    width:99%
}
sqm_leftMain table {
    border:0;
    padding:0;
    margin:0;
    border-spacing:0;
}
.sqm_folderHeader {
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
.sqm_clock {
}
.sqm_lastRefreshTime {
    white-space: nowrap;
}
.sqm_refreshButton {
}

/* note.tpl defs */
.sqm_noteWrapper {
    text-align:center;
    width:100%;
}
.sqm_note {
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    text-align:center;
}

/* motd defs */
.sqm_motd {
    background: #ababab /* __COLOR9__ */;
}
.sqm_motd td {
    background: #ffffff /* __COLOR4__*/;
}

/* empty_folder.tpl defs */
div.sqm_emptyFolderWrapper {
    width:100%;
    text-align: center;
}
table.sqm_emptyFolder {
    background: #ababab /* __COLOR9__ */;
    width:95%;
    margin-left:auto;
    margin-right: auto;
}
table.sqm_emptyFolder td {
    background: #ffffff /* __COLOR4__*/;
    text-align: center;
}

/* error_box.tpl definitions */
.table_errorBoxWrapper   {
    background: #ababab /* __COLOR9__ */;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table_errorBox  {
    background: #dcdcdc /* __COLOR0__ */;
}
.error_message {
    background: #ffffff /* __COLOR4__*/;
}
td.error_header {
    font-weight: bold;
    color: #cc0000 /* __COLOR2__*/;
}

/* page_header.tpl definitions */
.sqm_currentFolder	{
    background: #ababab /* __COLOR9__ */;
    text-align: left;
}
.sqm_headerSignout	{
    background: #ababab /* __COLOR9__ */;
    text-align: right;
}
.sqm_topNavigation	{
    text-align: left;
}
.sqm_providerInfo	{
    text-align: right;
}

/* message_list.tpl definitions */
#message_list {
    width: 100%;
}
.table_messageListWrapper	{
    background: #ababab /* __COLOR9__ */;
    width:100%;
}

.table_messageList	{
    background: #ffffcc /* __COLOR5__*/;
}

.table_messageList	tr.headerRow	{
    text-align: left;
}
.table_messageList td.spacer {
    background: #dcdcdc /* __COLOR0__ */;
}
.table_messageList	tr.mouse_over	{
    background: #ffffcc /* __COLOR5__*/;
}
.table_messageList	tr.clicked	{
    background: #ff9933 /* __COLOR16__*/;
}
.table_messageList	td.col_check	{
    text-align: left;
}
.table_messageList	td.col_subject	{
    text-align: left;
}
.table_messageList	td.col_flags	{
    text-align: left;
}
.table_messageList	td.col_text	{
    text-align: left;
}
td.message_count	{
    text-align: right;
}
.unread {
    font-weight: bold;
}
.deleted	{
    color: #ababab /* __COLOR9__ */;
}
.flagged	{
    color: #cc0000 /* __COLOR2__ */;
}
.high_priority	{
    color: #800000 /* __COLOR13__*/;
}
.low_priority	{
    color: #000000 /* __COLOR4__*/;
}

.links_paginator			{
    text-align: left;
}

.message_list_controls {
    background: #dcdcdc /* __COLOR0__ */;
}

.message_control_buttons {
    text-align: left;
}
.message_control_delete {
    text-align: right;
}
.message_control_move {
    text-align: right;
}

.spacer	{
    background: #ffffff /* __COLOR4__*/;
}

/* folder_manip.tpl defs */
#folderManip   {
    text-align:center;
}

#folderManip   td  {
    text-align: center;
    padding: 2px;
}

#folderManip   table   {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    width: 70%;
}

#folderManip   table.wrapper   {
    border: 1px solid #dcdcdc /* __COLOR0__ */;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#folderManip   td.folderAction {
    background: #dcdcdc /* __COLOR0__ */;
}

#folderManip    div {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

/* login defs */
#sqm_login  {
    margin-top: 25px;
    text-align: center;
}

#sqm_login  table   {
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#sqm_login  td   {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    text-align: center;
}

#sqm_login  td.orgName {
    font-weight: bold;
    background: none;
    font-size: 90%;
}

#sqm_login  td.orgLogo {
    width: 155px;
    text-align: center;
    vertical-align: center;
}

#sqm_login  td.orgLogo  img {
    width: 150px;
    padding:0;
}

#sqm_login  td.attr   {
    font-size: 70%;
    padding-top:5px;
    padding-bottom: 10px;
}

#sqm_login  td.fieldName {
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    width: 50%;
}

#sqm_login  td.fieldInput {
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

#sqm_login  td.loginSubmit {
    padding-top: 15px;
}

/* addressbook_list.tpl defs */
#addressList    {
    text-align: center;
}

#addressList    input   {
    font-size: 8pt;
}

#addressList    select  {
    font-size: 75%;
}

#addressList    table   {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid #ababab /* __COLOR9__ */;
    margin-top: 8px;
    margin-bottom: 8px;
}

#addressList    td  {
    text-align: left;
    padding: 2px;
}

#addressList    td.header1  {
    text-align: center;
    background: #ababab /* __COLOR9__ */;
}
#addressList    td.abookSwitch  {
    background: #dcdcdc /* __COLOR0__ */;
    text-align: right;
}

#addressList    td.abookButtons  {
    background: #dcdcdc /* __COLOR0__ */;
}

#addressList    td.abookField   {
    border-left: 1px solid #ababab /* __COLOR9__ */;
    border-right: 1px solid #ababab /* __COLOR9__ */;
    white-space: nowrap;
    overflow: hidden;
}

#addressList    td.colHeader {
    text-align: center;
    font-weight: bold;
    font-size: 98%;
    background: #ababab /* __COLOR9__ */;
    padding-top: 0px;
    padding-bottom: 0px;
}

#addressList    td.abookEmpty   {
    text-align:center;
    font-weight: bold;
}

#addressList    td.abookCompose {
    font-size: 8pt;
    white-space: nowrap;
}

#addrBookSearch {
    text-align: center;
}

#addrBookSearch table   {
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

#addrBookSearch   table.wrapper   {
    border: 1px solid #ababab /* __COLOR9__ */;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#addrBookSearch td  {
    padding: 2px;
}

#addrBookSearch label   {
    font-weight: bold;
}

#addrBookSearch input   {
    font-size: 75%;
}

#addrBookSearch select  {
    font-size: 75%;
}

#addrBookSearch td.buttons  {
    text-align: center;
}

#addrAddEdit    {
    text-align: center;
}

#addrAddEdit    table   {
    border: 1px solid #ababab /* __COLOR9__ */;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 95%
}

#addrAddEdit    td.header   {
    background: #ababab /* __COLOR9__ */;
    text-align: center;
    font-weight: bold;
}

#addrAddEdit    td.fieldName   {
    text-align: right;
    width: 30%;
}

#addrAddEdit    td.addButton   {
    text-align: center;
}

#addrAddEdit    td  {
    text-align: left;
    padding: 2px;
}

#addrAddEdit    input   {
    font-size: 75%;
}

#addrAddEdit    select  {
    font-size: 75%;
}

#optionGroups   {
    text-align: center;
}

/* help defs */
#help   {
    text-align: center;
}

#help   td.help  {
    text-align: left;
}

#help   li  {
    padding-left: 0px;
}

#help   ul  {
    padding-left: 20px;
    padding-right: 75px;
}

#help   td.nav  {
    text-align: center;
    color: #dcdcdc /* __COLOR0__ */;
    padding-top: 15px;
    padding-bottom: 5px;
}

#help   h1  {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

#help   h2  {
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 0;
}

#help   h3  {
    font-weight: bold;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

#help   td.help p   {
    margin-top: 2px;
    margin-bottom: 10px;
}

#help   td.help  li   {
    margin-left: 10px;
}

#optionsIdentity    table   {
    margin-top: 10px;
    margin-bottom: 10px;
}

#optionsIdentity    table.table2 tr  {
    background: #dcdcdc /* __COLOR0__ */;
}

#optionsIdentity    td.fieldName    {
    text-align: right;
    width: 30%;
}

#optionsIdentity    td.fieldValue   {
    text-align: left;
}

#optionsIdentity    td.actionButtons  {
    text-align: center;
}

#optionsIdentity hr  {
    width: 95%;
    border: 1px solid #ababab /* __COLOR9__ */;
}

#vCard  {
    text-align: center;
}

#vCard  table   {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#vCard  td.fieldName   {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#vCard  td.fieldValue   {
    text-align: left;
}

div.search table   {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.search td.header4  {
    border-bottom: 1px solid #ababab /* __COLOR9__ */;
    vertical-align: bottom;
}

div.search td.queryAction {
    text-align: center;
    font-size: small;
    width: 1%;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid #ababab /* __COLOR9__ */;
    border-top: 1px solid #ababab /* __COLOR9__ */;
    border-bottom: 1px solid #ababab /* __COLOR9__ */;
}

div.search td.queryDesc  {
    border-top: 1px solid #ababab /* __COLOR9__ */;
    border-bottom: 1px solid #ababab /* __COLOR9__ */;
}

div.search span {
    padding-left: 2px;
    padding-right: 2px;
}

div.search span.operator {
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;
}

div.search span.mailbox {
    font-weight: bold
}

div.search span.conditions {
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;
}

div.search span.value {
    font-weight: bold;
}

div.search span.error  {
    color: #cc0000 /* __COLOR2__ */;
    font-weight: bold;
    font-size: 125%;
}

div.search td.searchForm  {
    border-right: 1px solid #dcdcdc /* __COLOR0__ */;
    border-left: 1px solid #dcdcdc /* __COLOR0__ */;
    font-weight: bold;
    text-align: center;
}

div.search td.queryError {
    color: #cc0000 /* __COLOR2__ */;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

div.search td.header1 input {
    font-size: 80%;
    margin: 2px;
}

div.search h1 {
    font-weight: bold;
    font-size: 150%;
    margin-top: 6px;
    margin-bottom: 2px;
}

div.search h2 {
    color: #cc0000 /* __COLOR2__ */;
    font-weight: bold;
    text-align: center;
}

div.compose    {
    text-align: center;
}

div.compose table {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.compose td.fieldName {
    text-align: right;
    font-weight: bold;
    width: 30%;
    vertical-align: top;
}

div.compose td.fieldValue {
    text-align: left;
}

div.compose td.buttons {
    text-align: center;
}

div.compose input {
    font-size: 80%;
}

div.compose textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.compose td.bottomSend {
    text-align: center;
}

div.compose tr.header {
    background: #ababab /* __COLOR9__ */;
}

div.compose tr.header td {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.compose tr.attachment td {
    background: #dcdcdc /* __COLOR0__ */;
    border-top: 1px solid #ababab /* __COLOR9__ */;
    border-bottom: 1px solid #ababab /* __COLOR9__ */;
}

div.compose table.close {
    width: 100%;
    background: #dcdcdc /* __COLOR0__ */;
    border:1px solid #ababab /* __COLOR9__ */;
    text-align: center;
    margin: 0;
}

div.readMenuBar table {
    padding:0;
    margin:0;
    width: 100%;
    border-left: 1px solid #ababab /* __COLOR9__ */;
    border-right: 1px solid #ababab /* __COLOR9__ */;
}

div.readMenuBar table.top {
    border-top: 1px solid #ababab /* __COLOR9__ */;
}

div.readMenuBar table.bottom {
    border-bottom: 1px solid #ababab /* __COLOR9__ */;
}

div.readMenuBar td {
    padding:2px;
}

div.readMenuBar td.nav {
    padding-top:4px;
    padding-bottom:4px;
}

div.readMenuBar tr.buttons {
    background-color: #dcdcdc /* __COLOR0__ */;
}

div.readMenuBar td.buttons {
    width:1%;
    vertical-align: middle;
    white-space: nowrap;
}

div.readMenuBar input, select {
	padding:0;
	font-size:100%;
}

div.readMenuBar td.move {
    text-align: right;
}

div.readMenuBar form {
    display:inline;
}

div.readHeaders table.table2 {
    width:100%;
    background-color: #dcdcdc /* __COLOR0__ */;
}

div.readHeaders td {
    padding-left:4px;
    padding-right:4px;
}

div.readHeaders table.spacer {
    border: 0;
    height: 5px;
    width:100%;
    background-color: #ffffff /* __COLOR4__ */;
}

div.readBody table {
    width: 100%;
}

div.readBody table.table2 tr {
    background-color: #ffffff /* __COLOR4__ */;
}

div.readBody table.table2 td {
    padding: 10px;
    width:100%;
}

div.readAttachments table {
    width: 100%;
}

div.readAttachments td.attachSize, td.attachDesc {
    font-weight: bold;
}

div.readAttachments td.attachActions {
    text-align: right;
}

div.readInlineImages {
    width:100%;
    text-align: center;
}

div.readInlineImages table {
    width: 50%;
    margin-top:8px;
    margin-bottom:8px;
    margin-left: auto;
    margin-right: auto;
}

div.readInlineImages td.header5 {
    padding-left:2px;
    padding-right:2px;
    width:60%;
    white-space:nowrap;
}

div.readInlineImages td.header5 a {
    font-size:75%;
    font-weight: normal;
}

div.readInlineImages td.image {
    border:1px solid #ababab /* __COLOR9__ */;
    padding:10px;
}

div.printerFriendlyTop table {
    width:100%;
}

div.printerFriendlyTop td {
    text-align: right;
}

div.printerFriendly table.attach {
    width: 100%;
    margin-top:5px;
    margin-bottom:5px;
}

div.printerFriendly td.attachField {
    width: 30%;
    font-weight: bold;
    text-align: right;
}

div.printerFriendly td.attachName {
    font-weight: bold;
}





