/* page body formatting */
body {
    color:  #000000;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
body.sqm_leftMain {
    color:  #000000;
    background-color: #a0b8c8;
    text-align: left;
}

img {
    border:0;
}

/* right links */
a:link, a:visited, a:hover, a:active {
    color: #0000cc;
}

/* left links */
.sqm_leftMain a:link, .sqm_leftMain a:visited, .sqm_leftMain a:hover, .sqm_leftMain a:active {
    color:  #000000;
}

.leftunseen, .leftspecial, .leftspecial a:link, .leftspecial a:visited, .leftspecial a:hover, .leftspecial a:active {
    color:  #770000;
}

.leftnoselect a:link, .leftnoselect a:visited, .leftnoselect a:hover, .leftnoselect a:active {
    color:  #002266;
}

/* highlighted texts */
.highlight {
    color:  #002266;
}

.error_table {
    color: #ff0000;
    border: 2px solid #dcdcdc;
    background-color: #a0b8c8;
}
.error_thead {
    background-color: #666666;
}
.error_thead_caption {
    background-color: #666666;
}
.error_row {
    color: #ff0000;
}
.error_val {
    color: #000000;
    border: 2px solid #dcdcdc;

}
.error_key {
    border: 2px solid #dcdcdc;
    color: #ff0000;
    background-color: #dcdcdc;
}

table.table_empty,table.table_blank    {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

table.table1    {
    border: 1px solid #dcdcdc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table.table1    td  {
    padding-left: 2px;
    padding-right: 2px;
}

table.table2    {
    border: 1px solid #ababab;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.table2    td  {
    padding-left: 2px;
    padding-right: 2px;
}

td.emptyList    {
    text-align: center;
    font-weight: bold;
}

td.header1  {
    background: #dcdcdc;
    text-align: center;
    font-weight: bold;
}

td.header2  {
    background: #ababab;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.header3  {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

td.header4  {
    background: #ffffcc;
    font-weight: bold;
    padding-top:2px;
    padding-bottom: 2px;
    text-align: center;
}

tr.even {
    background: #ededed;
}
tr.odd  {
    background: #ffffff;
}

.table_standard {
    border:1px solid #dcdcdc;
    width: 100%;
}

.sqm_loginOrgName, .sqm_signoutBar {
    background: #dcdcdc;
}

.sqm_signout {
    margin-top: 2em;
    text-align: center;
}

.sqm_motd {
    background: #ababab;
}
.sqm_motd td {
    background: #ffffff;
}

/* empty_folder.tpl defs */
.sqm_emptyFolder {
    background: #ababab;
}
.sqm_emptyFolder td {
    background: #ffffff;
}

/* error_box.tpl definitions */
.table_errorBoxWrapper   {
    background: #ababab;
}

.table_errorBox  {
    background: #dcdcdc;
}
.error_message {
    background: #ffffff;
}

/* page_header.tpl definitions */
.sqm_currentFolder	{
    background: #ababab;
    text-align: left;
}
.sqm_headerSignout	{
    background: #ababab;
    text-align: right;
}
.sqm_topNavigation	{
    text-align: left;
}
.sqm_providerInfo	{
    text-align: right;
}

/* message_list.tpl definitions */
#message_list {
    width: 100%;
}
.table_messageListWrapper	{
    background: #ababab;
    width:100%;
}

.table_messageList	{
    background: #ffffcc;
}

.table_messageList	tr.headerRow	{
    text-align: left;
}
.table_messageList td.spacer {
    background: #dcdcdc;
}
.table_messageList	tr.mouse_over	{
    background: #ffffcc;
}
.table_messageList	tr.clicked	{
    background: #ff9933;
}
.table_messageList	td.col_check	{
    text-align: left;
}
.table_messageList	td.col_subject	{
    text-align: left;
}
.table_messageList	td.col_flags	{
    text-align: left;
}
.table_messageList	td.col_text	{
    text-align: left;
}
.deleted	{
    color: #ababab;
}
.flagged	{
    color: #cc0000;
}
.high_priority	{
    color: #800000;
}
.low_priority	{
    color: #000000;
}

.links_paginator			{
    text-align: left;
}

.message_list_controls {
    background: #dcdcdc;
}

.message_control_buttons {
    text-align: left;
}
.message_control_delete {
    text-align: right;
}
.message_control_move {
    text-align: right;
}

.spacer	{
    background: #ffffff;
}

/* folder_manip.tpl defs */
#folderManip   {
    text-align:center;
}

#folderManip   td  {
    text-align: center;
    padding: 2px;
}

#folderManip   table   {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    width: 70%;
}

#folderManip   table.wrapper   {
    border: 1px solid #dcdcdc;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#folderManip   td.folderAction {
    background: #dcdcdc;
}

#folderManip    div {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

/* login defs */
#sqm_login  {
    margin-top: 25px;
    text-align: center;
}

#sqm_login  table   {
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#sqm_login  td   {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    text-align: center;
}

#sqm_login  td.orgName {
    font-weight: bold;
    background: none;
    font-size: 90%;
}

#sqm_login  td.orgLogo {
    width: 155px;
    text-align: center;
    vertical-align: center;
}

#sqm_login  td.orgLogo  img {
    width: 150px;
    padding:0;
}

#sqm_login  td.attr   {
    font-size: 70%;
    padding-top:5px;
    padding-bottom: 10px;
}

#sqm_login  td.fieldName {
    font-size: 10pt;
    font-weight: bold;
    text-align: <?php echo SQM_ALIGN_RIGHT; ?>;
    width: 50%;
}

#sqm_login  td.fieldInput {
    text-align: <?php echo SQM_ALIGN_LEFT; ?>;
    padding-top: 1px;
    padding-bottom: 1px;
}

#sqm_login  td.loginSubmit {
    padding-top: 15px;
}

/* addressbook_list.tpl defs */
#addressList    {
    text-align: center;
}

#addressList    input   {
    font-size: 8pt;
}

#addressList    select  {
    font-size: 75%;
}

#addressList    table   {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid #ababab;
    margin-top: 8px;
    margin-bottom: 8px;
}

#addressList    td  {
    text-align: left;
    padding: 2px;
}

#addressList    td.header1  {
    text-align: center;
    background: #ababab;
}
#addressList    td.abookSwitch  {
    background: #dcdcdc;
    text-align: right;
}

#addressList    td.abookButtons  {
    background: #dcdcdc;
}

#addressList    td.abookField   {
    border-left: 1px solid #ababab;
    border-right: 1px solid #ababab;
    white-space: nowrap;
    overflow: hidden;
}

#addressList    td.colHeader {
    text-align: center;
    font-weight: bold;
    font-size: 98%;
    background: #ababab;
    padding-top: 0px;
    padding-bottom: 0px;
}

#addressList    td.abookEmpty   {
    text-align:center;
    font-weight: bold;
}

#addressList    td.abookCompose {
    font-size: 8pt;
    white-space: nowrap;
}

#addrBookSearch {
    text-align: center;
}

#addrBookSearch table   {
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

#addrBookSearch   table.wrapper   {
    border: 1px solid #ababab;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#addrBookSearch td  {
    padding: 2px;
}

#addrBookSearch label   {
    font-weight: bold;
}

#addrBookSearch input   {
    font-size: 75%;
}

#addrBookSearch select  {
    font-size: 75%;
}

#addrBookSearch td.buttons  {
    text-align: center;
}

#addrAddEdit    {
    text-align: center;
}

#addrAddEdit    table   {
    border: 1px solid #ababab;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 95%
}

#addrAddEdit    td.header   {
    background: #ababab;
    text-align: center;
    font-weight: bold;
}

#addrAddEdit    td.fieldName   {
    text-align: right;
    width: 30%;
}

#addrAddEdit    td.addButton   {
    text-align: center;
}

#addrAddEdit    td  {
    text-align: left;
    padding: 2px;
}

#addrAddEdit    input   {
    font-size: 75%;
}

#addrAddEdit    select  {
    font-size: 75%;
}

#optionGroups   {
    text-align: center;
}

/* help defs */
#help   {
    text-align: center;
}

#help   td.help  {
    text-align: left;
}

#help   li  {
    padding-left: 0px;
}

#help   ul  {
    padding-left: 20px;
    padding-right: 75px;
}

#help   td.nav  {
    text-align: center;
    color: #dcdcdc;
    padding-top: 15px;
    padding-bottom: 5px;
}

#help   h1  {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

#help   h2  {
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 0;
}

#help   h3  {
    font-weight: bold;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

#help   td.help p   {
    margin-top: 2px;
    margin-bottom: 10px;
}

#help   td.help  li   {
    margin-left: 10px;
}

#optionsIdentity    table   {
    margin-top: 10px;
    margin-bottom: 10px;
}

#optionsIdentity    table.table2 tr  {
    background: #dcdcdc;
}

#optionsIdentity    td.fieldName    {
    text-align: right;
    width: 30%;
}

#optionsIdentity    td.fieldValue   {
    text-align: left;
}

#optionsIdentity    td.actionButtons  {
    text-align: center;
}

#optionsIdentity hr  {
    width: 95%;
    border: 1px solid #ababab;
}

#vCard  {
    text-align: center;
}

#vCard  table   {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#vCard  td.fieldName   {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#vCard  td.fieldValue   {
    text-align: left;
}

div.search table   {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.search td.header4  {
    border-bottom: 1px solid #ababab;
    vertical-align: bottom;
}

div.search td.queryAction {
    text-align: center;
    font-size: small;
    width: 1%;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid #ababab;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

div.search td.queryDesc  {
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

div.search span {
    padding-left: 2px;
    padding-right: 2px;
}

div.search span.operator {
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;
}

div.search span.mailbox {
    font-weight: bold
}

div.search span.conditions {
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;
}

div.search span.value {
    font-weight: bold;
}

div.search span.error  {
    color: #cc0000;
    font-weight: bold;
    font-size: 125%;
}

div.search td.searchForm  {
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    font-weight: bold;
    text-align: center;
}

div.search td.queryError {
    color: #cc0000;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

div.search td.header1 input {
    font-size: 80%;
    margin: 2px;
}

div.search h1 {
    font-weight: bold;
    font-size: 150%;
    margin-top: 6px;
    margin-bottom: 2px;
}

div.search h2 {
    color: #cc0000;
    font-weight: bold;
    text-align: center;
}

div.compose    {
    text-align: center;
}

div.compose table {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.compose td.fieldName {
    text-align: right;
    font-weight: bold;
    width: 30%;
    vertical-align: top;
}

div.compose td.fieldValue {
    text-align: left;
}

div.compose td.buttons {
    text-align: center;
}

div.compose input {
    font-size: 80%;
}

div.compose textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.compose td.bottomSend {
    text-align: center;
}

div.compose tr.header {
    background: #ababab;
}

div.compose tr.header td {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.compose tr.attachment td {
    background: #dcdcdc;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

div.compose table.close {
    width: 100%;
    background: #dcdcdc;
    border:1px solid #ababab;
    text-align: center;
    margin: 0;
}

div.readMenuBar table.table2 {
    width: 100%;
}
