/* older css template */
/* page body formatting */
body {
    color:  #ffffff;
    background-color: #000000;
}
body.sqm_leftMain {
    color:  #ffff80;
    background-color: #000000;
}

/* right links */
a:link, a:visited, a:hover, a:active {
    color: #ffff80;
}

/* left links */
.sqm_leftMain a:link, .sqm_leftMain a:visited, .sqm_leftMain a:hover, .sqm_leftMain a:active {
    color:  #ffff80;
}
.leftunseen, .leftspecial, .leftspecial a:link, .leftspecial a:visited, .leftspecial a:hover, .leftspecial a:active {
    color:  #3333ff;
}
.leftnoselect a:link, .leftnoselect a:visited, .leftnoselect a:hover, .leftnoselect a:active {
    color:  #c0c060;
}

/* highlighted texts */
.highlight {
    color:  #c0c060;
}
.error_table {
    color: #ff0000;
    border: 2px solid #181818;
    background-color: #000000;
}
.error_thead {
    background-color: #000080;
}
.error_thead_caption {
    background-color: #000080;
}
.error_row {
    color: #ff0000;
}
.error_val {
    color: #ffffff;
    border: 2px solid #181818;

}
.error_key {
    border: 2px solid #181818;
    color: #ff0000;
    background-color: #181818;
}

/* Standard defs */
table.table1    {
    border: 1px solid #181818;
}
table.table2    {
    border: 1px solid #000080;
}
td.header1  {
    background: #181818;
}
td.header2  {
    background: #000080;
}
td.header4  {
    background: #000080;
}
tr.even {
    background: #808080;
}
tr.odd  {
    background: #000000;
}
.table_standard {
    border:1px solid #181818;
}

.sqm_loginOrgName, .sqm_signoutBar {
    background: #181818;
}
.sqm_motd {
    background: #000080;
}
.sqm_motd td {
    background: #000000;
}

/* empty_folder.tpl defs */
.sqm_emptyFolder {
    background: #000080;
}
.sqm_emptyFolder td {
    background: #000000;
}

/* error_box.tpl definitions */
.table_errorBoxWrapper   {
    background: #000080;
}
.table_errorBox  {
    background: #181818;
}
.error_message {
    background: #000000;
}

/* page_header.tpl definitions */
.sqm_currentFolder  {
    background: #000080;
}
.sqm_headerSignout  {
    background: #000080;
}

/* message_list.tpl definitions */
.table_messageListWrapper   {
    background: #000080;
}

.table_messageList  {
    background: #000080;
}
.table_messageList td.spacer {
    background: #181818;
}
.table_messageList  tr.mouse_over   {
    background: #000080;
}
.table_messageList  tr.clicked  {
    background: #ff9933;
}
.deleted    {
    color: #000080;
}
.flagged    {
    color: #800000;
}
.high_priority  {
    color: #a0a0a0;
}
.low_priority   {
    color: #ffffff;
}
.message_list_controls {
    background: #181818;
}
.spacer {
    background: #000000;
}

/* folder_manip.tpl defs */
#folderManip   table.wrapper   {
    border: 1px solid #181818;
}
#folderManip   td.folderAction {
    background: #181818;
}

/* addressbook_list.tpl defs */
#addressList    table   {
    border: 1px solid #000080;
}
#addressList    td.header1  {
    background: #000080;
}
#addressList    td.abookSwitch  {
    background: #181818;
}

#addressList    td.abookButtons  {
    background: #181818;
}
#addressList    td.abookField   {
    border-left: 1px solid #000080;
    border-right: 1px solid #000080;
}
#addressList    td.colHeader {
    background: #000080;
}
#addrBookSearch   table.wrapper   {
    border: 1px solid #000080;
}
#addrAddEdit    table   {
    border: 1px solid #000080;
}
#addrAddEdit    td.header   {
    background: #000080;
}

/* options defs */
#optionGroups   table   {
    border: 1px solid #181818;
}
#optionGroups   td.title    {
    background: #181818;
}
#optionGroups   td.optionElement    table   {
    border:1px solid #000080;
}
#optionGroups   td.optionName   {
    background: #000080;
}
#optionGroups   td.optionDesc   {
    background: #181818;
}
#optionDisplay  table   {
    border: 1px solid #181818
}
#optionOrder    table   {
    border: 1px solid #181818
}
#optionOrder    table.moveFields    td  {
    border-left: 1px solid #181818;
    border-right: 1px solid #181818;
}
#optionsIdentity    table.table2 tr  {
    background: #181818;
}
#optionsIdentity hr  {
    width: 95%;
    border: 1px solid #000080;
}

/* help defs */
#help   td.nav  {
    color: #181818;
}

/* search defs */
div.search td.header4  {
    border-bottom: 1px solid #000080;
}
div.search td.queryAction {
    border-left: 1px solid #000080;
    border-top: 1px solid #000080;
    border-bottom: 1px solid #000080;
}

div.search td.queryDesc  {
    border-top: 1px solid #000080;
    border-bottom: 1px solid #000080;
}
div.search span.error  {
    color: #800000;
}
div.search td.searchForm  {
    border-right: 1px solid #181818;
    border-left: 1px solid #181818;
}
div.search td.queryError {
    color: #800000;
}
div.search h2 {
    color: #800000;
}

/* compse defs */
div.compose tr.header {
    background: #000080;
}
div.compose tr.attachment td {
    background: #181818;
    border-top: 1px solid #000080;
    border-bottom: 1px solid #000080;
}

div.compose table.close {
    background: #181818;
    border:1px solid #000080;
}